<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="utf8">
<title>Busca Cep Endereço</title>
</head>

<section layout:fragment="conteudo">
			<div class="ctrlcontent"> 
			   <!-- column1 -->
						<div class="column2">
							<div class="content ">
									<div class="tituloimagem">
							
									<h3>Busca Faixa CEP</h3>
								 
								</div>  
				<!-- inicio borda -->
				<form name="Geral" id="Geral"
					th:action="@{/buscaFaixaCep/resultadoBusca/}" method="get">  
					<p>Faça suas consultas individuais de CEP, destinadas a
						endereçamentos de objetos de correspondências a serem postadas nos
						Correios. Os campos assinalados com (*) são obrigatórios.</p>
					<div class="form">
						<div class="contentform">
							
							<span> 
								<label> UF *:<br> 
								
								<select id="estado" class="form-control" name="uF" >
								<option value=""></option>
								<option th:each="estado : ${estados}" th:value="${estado.id}"
									th:text="${estado.uf}"></option>
							</select>
							</label>
							</span>
							</br>
							</br>
							</br>
							</br>
							<span> 
							<label> Localidade:<br> <input
									align="left" maxlength="60"  size="50"
									name="localidade">
							</label>
							 <p th:text= "${mensagem}" style="color: #a994442"></p>
							</span> 
							<div class="separator"></div>
							<div class="btnform">
								<input type="Submit" value="Buscar" class="btn2 float-right">
							</div>
						</div>
					</div>
				</form>

				<h4>Uso do Busca CEP</h4>
				<p>
					O uso deste aplicativo é restrito a consultas individuais de CEP,
					destinadas a endereçamentos de objetos de correspondências a serem
					postadas nos Correios. Para outras finalidades consulte o <a
						href="http://www.correios.com.br/para-voce/correios-de-a-a-z/e-dne">e-DNE.</a>
				</p>
			
			</div>
	
</section>

</body>
</html>